services:

    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    layout.provider:
        class: Eight\PageBundle\Provider\Layout
        arguments: ['@service_container']
        public: true

    widget.provider:
        class: Eight\PageBundle\Provider\Widget
        arguments: ['@service_container']
        public: true

    variable.provider:
        class: Eight\PageBundle\Provider\Variable
        arguments: ['@service_container']
        public: true

    eight.form_builder:
        class: Eight\PageBundle\Renderer\FormBuilder
        arguments: ['@service_container']
        public: true

    helper.page:
        class: Eight\PageBundle\Helper\Page
        arguments: ['@service_container']
        public: true

    eight.page_generator:
        class: Eight\PageBundle\Generator\Pages
        arguments: ['@service_container']
        public: true

    page.renderer:
        class: Eight\PageBundle\Renderer\Page
        arguments: ['@service_container']
        public: true

    eight.seo.listener:
        class: Eight\PageBundle\HttpKernel\FilterControllerSeoPageEvent
        arguments: ["@service_container"]
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    eight.sitemap:
        class: Eight\PageBundle\Provider\Sitemap
        arguments: ['@service_container']


    eight.page.seo:
        class: Eight\PageBundle\Seo\SeoPage
        arguments: ['%eight_page.seo_title%', '%eight_page.seo_description%']
        public: true

    eight.twig.extension:
        class: Eight\PageBundle\Twig\Extension
        calls:
            - [ setContainer, ["@service_container"]]
        tags:
            - { name: twig.extension }
        arguments:
            $seopage: '@eight.page.seo'

    class_method_form_type:
        class: Eight\PageBundle\Form\CollectionMethodType
        tags:
            - { name: form.type }

