<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {% if object.getTags() is not null %}
        {{ object.getTagsAsCsv() }}
    {% endif %}
</td>