<div class="container">
    <div class="row">
        <div class="col-md-12 {{ html_classes }}">
            <div class="row">
                <div class="col-12">
                    <p>
                        {{ label }}
                    </p>
                </div>
            </div>
            <div class="row">
                {{ render_inner_blocks(current_block) }}
            </div>
        </div>
    </div>
</div>