<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                FOOTER LINKS ETC.
            </p>
            <div class="col-4">
                {{ render_inner_blocks(current_block) }}
            </div>
        </div>
    </div>
</div>