<li class="nav-item dropdown {{ html_classes }}">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ label }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{ render_inner_blocks(current_block) }}
    </ul>
</li>