<li class="nav-item {{ html_classes }}">
    <a class="nav-link {% if page and page.id == target_page.id %}active{% endif %}" href="{{ target_page.id ? i18n_path(target_page) : '' }}">
        {{ i18n_title(target_page) }}
    </a>
</li>