<div id="edit-block-modal-{{ form.vars.id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>